{
  "semi": false,
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 100,
  "proseWrap": "preserve",
  "singleQuote": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid"
}
